# Ignore Debug/Release build output directories
x64/Debug/
x64/Release/

# Ignore specific debug files
*.obj
*.ilk
*.pdb
*.exe
*.idb

# Other folders to ignore 
.vs/
.vs/Server Chat/FileContentIndex/
Server Chat/x64
.vscode/
